{% extends 'Home.html'%}
{% load static %}
{% block home %}
  <div class="container cont">
        <div class="row g-0">
            <div class="col-md-10">
            <div class="banner position-relative overflow-hidden">
            <button class="btn position-absolute top-50 start-0 translate-middle-y fs-1  z-3" id="pre">
              <i class="fa-solid fa-circle-chevron-left"></i>
            </button>
            <div class="slider">
            <img src="/Media/LOGOS/banner1.PNG" class="position-absolute img " id="img">
            <img src="/Media/LOGOS/banner2.PNG" class="position-absolute img " id="img">
            <img src="/Media/LOGOS/banner3.PNG" class="position-absolute img " id="img">
            <img src="/Media/LOGOS/banner4.PNG" class="position-absolute img " id="img">
            <img src="/Media/LOGOS/banner5.PNG" class="position-absolute img " id="img">
              </div>
           <button class="btn position-absolute top-50  end-0  translate-middle-y fs-1  z-3" id="next">
           <i class="fa-solid fa-circle-chevron-right"></i>
           </button>
            <div class="radios position-absolute bottom-0 start-50 translate-middle-x z-3 d-flex gap-2 mb-3">
              <input type="radio" name="banner-dot" class="form-check-input" value="0">
              <input type="radio" name="banner-dot" class="form-check-input" value="1">
              <input type="radio" name="banner-dot" class="form-check-input" value="2">
              <input type="radio" name="banner-dot" class="form-check-input" value="3">
              <input type="radio" name="banner-dot" class="form-check-input" value="4">
               </div>
            </div>
             </div>
            <div class="col-md-2">
              <img src="/Media/LOGOS/drazlink.PNG" class="img-fluid" alt="" style="height: 350px;" id="hide">
            </div>
            <div class="col-md-12">
              <img src="/Media/LOGOS/drazs.PNG" alt="" style="width: 100%; margin-top: 10px;">
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Flash Sale</h4>
        </div>
        <div class="col-md-12 d-flex justify-content-between pb-3">
          <a href="#" class="text-decoration-none text-danger fw-bold pt-2">On Sale Now</a>
          <div class="links">
          <a href="{% url 'search'%}" class="btn btn-outline-danger fw-bold">Shop All Products</a>
          </div>
        </div>
         <hr>
      </div>
    </div>
    <div class="container">
      <div class="row ">
        <div class="col-md-12 d-md-flex flex-wrap justify-content-evenly" id="cen" >
          {% for v in products %}
           <a href="{% url 'product-page' v.id %}" class="text-decoration-none">
           <div class="card mt-2 border-0">
             <img src="{{ v.product_image.url}}" class="card-img-top img-fluid" alt="..." style="width: 250px; height: 180px;">
             <div class="card-body p-1">
               <h5 class="card-title">{{ v.product_name}}</h5>
              <h6 class="text-danger"> Rs: {{ v.product_price}}</h6>
              <p class="card-text text-warning"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
             </div>
           </div>
           </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="{% static 'Js/slider.js' %}"></script>
{% endblock %}
    