{% extends 'login-page.html'%}
{% load socialaccount %}
{% load static %}
{% block login_content %}
<div class="container cont" >
    <div class="row">
           {% if error %}
        <div class="col-md-12">
            <div class="alert alert-danger text-center">{{ error }}</div>
        </div>
        {% endif %}
        <div class="col-md-2"></div>
        <div class="col-md-8 d-md-flex justify-content-between">
           <h3>Welcome to Draz ! Please Login</h3> 

           <small>New member? <a href="{% url 'signup-page' %}">Register</a> here.</small>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="box p-5 mb-5" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
             <form action="{% url 'login-page' %}" method="post">
                    {% csrf_token %}
                    <label class="form-label"><small>Phone Number</small></label>
                    <input type="text" name="phone" class="form-control" placeholder="Please Enter Your Phone Number..." required>

                    <label class="form-label"><small>Password</small></label>
                    <div class="pass position-relative">
                        <input type="password" name="password1" class="form-control" placeholder="Enter Your Password..." id="input" required>
                        <i class="fa-solid fa-eye-slash" style="cursor: pointer; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);" id="toggle-password"></i>
                    </div>
                    <button type="submit" class="btn btn-primary px-5 w-100 mt-4" >Login</button>
                    </form>

               <p class="m-3 text-center">Or Login With</p>
                <div class="buttons text-center d-flex justify-content-around ">
                    <a href="#" class="btn btn-outline-primary   px-md-5">
                        <i class="fa-brands fa-facebook pe-md-1"></i>Facebook
                    </a>
                    <a href="#" onclick="openLoginPopup()" class="btn btn-outline-primary px-md-5">
                        <i class="fa-brands fa-google pe-md-1 "></i>Google
                    </a>
                </div>     
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
</div>
<script>
 function openLoginPopup() {
    const popup = window.open(
      "{% provider_login_url 'google' %}",
      "GoogleLoginWindow",
      "width=500,height=600,left=300,top=100"
    );

    const timer = setInterval(() => {
      if (popup.closed) {
        clearInterval(timer);
        window.location.href = "/home/";
      }
    }, 500);
  }
</script>

<script src="{% static 'Js/login.js' %}"></script>

{% endblock %}




